body {
  font-family: sans-serif;
  line-height: 2;
}
.header-title {
  font-size: 4em;
}
.nav-bar img {
  height: 70px;
  padding: 20px;

}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.nav-bar-item {
  display: flex;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 1.3em;
  font-family: sans-serif;
  text-decoration-line: none;
}
.nav-bar-item li {
  margin-right: 20px;
  color: rgba(23, 78, 78, 0.623);
}
.header {
  background-image: url('../images/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  text-align: center;
  color: rgba(238, 236, 232, 0.849);
}
.header-title {
  padding-top: 30%;
}

h1 {
  padding-bottom: 30px;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 20px;
}
.service-title {
  color: #19b26c;
  font-size: 1.3em;
  font-weight: 800;
}
h5 {
  color: gray;
}

.main-section {
  display: flex;
  justify-content: space-around;
  margin: 7% 5%;
  color: rgba(23, 78, 78, 0.623);
  text-align: center;
}
.service-box img {
  height: 150px;
}
hr {
  width: 30%;
  border-color: #19b26c;
}

.green-section {
  background-color: #19b26c;
  color: rgba(255, 255, 255, 0.925);
  padding: 30px;
}
.content {
  display: flex;
  justify-content: space-around;
}
.column-left h3 {
  font-size: 1.3em;
  font-weight: 800;
}
.column-center {
  height: 100px;
  margin-top: 20%;
}
.column-right {
  width: 20%;
  margin: 50px;
}
